<div>
  <div><%= link_to "FREESTUFF", coupons_path(@coupon) %> , <%= coupon.store %></div>
  <% @coupons.each do |coupon| %>
    <div><%= link_to coupon.to_s, coupons_path(coupon) %> , <%= coupon.store %></div>
  <% end %>
</div>